
<div id="register"  class="container " >

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>


      <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= f.label :email, class:"label" %>
        </div>
        <div class="field-body">
          <div class="field ">
            <div class="control">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input" %>
            </div>
          </div>
        </div>
      </div>


      <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= f.label :password, class:"label"  %>
        </div>
        <div class="field-body">
          <div class="field ">
            <div class="control">
              <%= f.password_field :password, autocomplete: "new-password", class:"input" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
            </div>
          </div>
        </div>
      </div>



      <div class="field is-horizontal">
        <div class="field-label is-normal">
            <%= f.label :password_confirm, class:"label"  %>
        </div>
        <div class="field-body">
          <div class="field ">
            <div class="control">
              <%= f.password_field :password_confirm, autocomplete: "new-password", class:"input" %>
            </div>
          </div>
        </div>
      </div>


      <div class="field is-horizontal">
        <div class="field-label is-normal">

        </div>
        <div class="field-body">
          <div class="field ">
            <div class="control">

              <div class="control  columns">
                  <div class="column is-one-thirds">
                    <%= f.submit "Sign up", class:"button" %>
                  </div>
                  <div class="column is-two-thirds">
                    <%= render "devise/shared/links" %>
                  </div>
              </div>

            </div>
          </div>
        </div>
      </div>


    <% end %>


</div><!--  ## register  -->
