
<div class="sidebar"  id="sidebar">
  <div class="logo">
    <a href="index.html">
      <img src="http://webstrot.com/html/midadmin/assets/images/logo.png" alt="">
    </a>
  </div>
      <ul>
              <li class="label">Main</li>
              <li class="open" >
                  <%= link_to  myadmin_index_path , class: ""   do%>
                   <i class="ti-home"></i> Dashboard
                  <% end %>
              </li>

              <li class="label">Apps</li>
              <li class="sub">
                <a class="sidebar-sub-toggle"><i class="ti-star"></i>  Works  <span class="sidebar-collapse-icon ti-angle-up"></span></a>
                <ul>
                  <li><%= link_to "All Works", works_path %></li>
                  <li><%= link_to "Add Work", new_work_path %></li>
                </ul>
              </li>

              <li class="sub">        
                <a class="sidebar-sub-toggle"><i class="ti-calendar"></i>  Case Calender  <span class="sidebar-collapse-icon ti-angle-up"></span></a>
                <ul>
                  <li><%= link_to "All Customer", cals_path %></li>
                  <li><%= link_to "Add Customer", new_cal_path %></li>
                </ul>
              </li>


              <!--
              <li><a href="app-event-calender.html"><i class="ti-calendar"></i> Calender </a></li>
              <li><a href="app-email.html"><i class="ti-email"></i> Email</a></li>
              <li><a href="app-profile.html"><i class="ti-user"></i> Profile</a></li>
              <li><a href="app-widget-card.html"><i class="ti-layout-grid2-alt"></i> Widget</a></li>
              <li class="label">Features</li>
              <li><a class="sidebar-sub-toggle"><i class="ti-layout"></i> UI Elements <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                  <li><a href="ui-typography.html">Typography</a></li>
                  <li><a href="ui-alerts.html">Alerts</a></li>

                  <li><a href="ui-button.html">Button</a></li>
                  <li><a href="ui-dropdown.html">Dropdown</a></li>

                  <li><a href="ui-panels.html">panels</a></li>
                  <li><a href="ui-list-group.html">List Group</a></li>

                  <li><a href="ui-progressbar.html">Progressbar</a></li>
                  <li><a href="ui-tab.html">Tab</a></li>
                  <li><a href="ui-images.html">images</a></li>
                  <li><a href="ui-recent-comments.html">comments</a></li>
                  <li><a href="ui-timeline.html">timeline</a></li>

                </ul>
              </li>
              <li><a class="sidebar-sub-toggle"><i class="ti-panel"></i> Components <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                  <li><a href="uc-calendar.html">Calendar</a></li>
                  <li><a href="uc-carousel-img.html">Carousels</a></li>
  				<li><a href="uc-carousel.html">Carousel quote</a></li>
                  <li><a href="uc-weather.html">Weather</a></li>
                  <li><a href="uc-datamap.html">Datamap</a></li>
                  <li><a href="uc-todo-list.html">To do</a></li>
                  <li><a href="uc-sweetalert.html">Sweet Alert</a></li>
                  <li><a href="uc-toastr.html">Toastr</a></li>
                  <li><a href="uc-range-slider-basic.html">Basic Range Slider</a></li>
                  <li><a href="uc-range-slider-advance.html">Advance Range Slider</a></li>
                  <li><a href="uc-nestable.html">Nestable</a></li>

                  <li><a href="uc-rating-bar-rating.html">Bar Rating</a></li>
                  <li><a href="uc-rating-jRate.html">jRate</a></li>
                </ul>
              </li>
              <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> Table <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                  <li><a href="table-basic.html">Basic</a></li>

                  <li><a href="table-export.html">Datatable Export</a></li>
                  <li><a href="table-row-select.html">Datatable Row Select</a></li>
                  <li><a href="table-jsgrid.html">Editable </a></li>
                </ul>
              </li>
              <li><a class="sidebar-sub-toggle"><i class="ti-heart"></i> Icons <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                  <li><a href="font-themify.html">Themify</a></li>
                </ul>
              </li>
              <li><a class="sidebar-sub-toggle"><i class="ti-map"></i> Maps <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                  <li><a href="vector-map.html">Vector Map</a></li>
                </ul>
              </li>
              <li class="label">Form</li>
              <li><a href="form-basic.html"><i class="ti-view-list-alt"></i> Basic Form </a></li>
  			      <li><a href="form-validation.html"><i class="fa fa-list"></i>Form validation</a></li>
              <li class="label">Extra</li>
              <li><a class="sidebar-sub-toggle"><i class="ti-files"></i> Invoice <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                  <li><a href="invoice.html">Basic</a></li>
                </ul>
              </li>
              <li><a class="sidebar-sub-toggle"><i class="ti-target"></i> Pages <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                  <li><a href="page-login.html">Login</a></li>
                  <li><a href="page-register.html">Register</a></li>
                  <li><a href="page-reset-password.html">Forgot password</a></li>
  				        <li><a href="blank.html">blank page</a></li>
                </ul>
              </li>
              -->
        </ul>
</div>
